html,
body, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
  list-style: none;
}

button {
  width: 50vw;
  height: 10%;
  font-size: 1.2rem;
}

.devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  font-size: 1.5rem;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  font-size: 1px;
}
